<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>后台登录</title>
		<link rel="stylesheet" type="text/css" href="layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="css/login.css" />
	</head>

	<body>
		<div class="m-login-bg">
			<div class="m-login">
				<h3>后台系统登录</h3>
				<div class="m-login-warp">
					<form class="layui-form" method="post">
						<div class="layui-form-item">
							<input type="text" name="username" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-form-item">
							<input type="text" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<input type="text" name="verity" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-inline">
								<img class="verifyImg" onclick="this.src=this.src+'?c='+Math.random();" src="images/login/yzm.jpg" />
							</div>
						</div>
						<div class="layui-form-item m-login-btn">
							<div class="layui-inline">
								<button id="loginBtn" type="button" class="layui-btn layui-btn-normal">登录</button>
							</div>
							<div class="layui-inline">
								<button type="reset" class="layui-btn layui-btn-primary">取消</button>
							</div>
						</div>
					</form>
				</div>
				<p class="copyright">Copyright 2015-2016 by IAODU</p>
			</div>
		</div>
		<script src="layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use(['form'], function() {
				var layer = layui.layer;
				var $ = layui.jquery;
				//监听提交
				$(document).on('click', '#loginBtn', function () {
					var form = $(this).parents("form");
					var url = "/login";
					var serializeArray = form.serializeArray();
					$.post(url, serializeArray, function (data) {
						if (data.code == 200) {
							layer.msg("<em style='color:green'>"+data.message+"</em>", {
								icon: 1,
								offset: '30%',
								time: 800
							});
                            setTimeout(function () {
                                location.href = data.data.url;
                            }, 800);
						}else{
							layer.msg("<em style='color:red'>"+data.message+"</em>", {
								icon: 2,
								offset: '30%',
								time: 2000
							});
						}
					} )
				});

			});
		</script>
	</body>

</html>