<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goufn.permission.mapper.MenuMapper">
    <resultMap id="menu" type="com.goufn.permission.model.SysMenu">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="icon" column="icon"/>
        <result property="orderNum" column="order_num"/>
        <result property="perms" column="perms"/>
        <result property="type" column="type"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>
    <select id="findPermsByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
        select
        DISTINCT m.perms
        from sys_menu m
        LEFT JOIN sys_role_menu rm ON m.id=rm.menu_id
        LEFT JOIN sys_user_role ur on rm.role_id = ur.role_id
        WHERE ur.user_id=#{userId}
    </select>

    <select id="findByUserName" parameterType="java.lang.String" resultMap="menu">
        select
        m.*
        FROM sys_menu m,sys_user u, sys_user_role ur, sys_role_permission rp
        WHERE u.username=#{UserId} and u.id = ur.user_id
        and ur.role_id = rp.role_id
    </select>
</mapper>