<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goufn.permission.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.goufn.permission.model.SysRole">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_update_by" jdbcType="BIGINT" property="lastUpdateBy" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
        <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    </resultMap>
    <select id="findRoleByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
        select
        r.role,
        from sys_role r
        LEFT JOIN sys_user_role ur on r.id = ur.role_id
        where ur.userId=#{userId}
    </select>

</mapper>